.header {
  border: solid 2px #61a785;
  height: 5vh;
}

.canvas-wrapper {
  border: solid 1px #7b61a7;
  width: 100vw;
  height: 85vh;;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: black;
}

.canvas {
  border: solid 1px red;
}

.Score {
  font-size: 2rem;
}

.Footer {
  border: solid 2px #61a785;
  height: 10rem;
  width: 100vw;
}

.Footer>button {
  border: solid 2px #61a785;
  height: 10rem;
  width: 10rem;
}


.color {
  color: #8cc965
}
