
.page {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  font-family: 'Russo One', sans-serif;
}

.canvas-wrapper {
  height: 89vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: black;
}

.canvas {
  border-bottom: solid 1px white;
}

.LEFT, .UP {
  order: 0;
  margin-left: 1vh;
}
.RIGHT, .DOWN {
  order: 2;
  margin-right: 1vh;
}

.score {
  order: 1;
  color: white;
  font-size: 5vh;
  width: calc(100vw - 38vh);
  display: grid;
  justify-content: center;
  align-content: center;
}

.footer {
  margin-top: .5vh;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.RIGHT, .DOWN, .LEFT, .UP {
  border: solid 1px white;
  /* border-radius: 1rem; */
  background-color: black;
  min-height: 10vh;
  min-width: 10vh;
  align-self: center;
}


.fas {
  font-size: 5vh;
  color: white;
}
